<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.promotion.mapper.CashflowMapper">

     <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.promotion.entity.Cashflow">
     <id column="cashflow_id" property="cashflowId"/>
     <result column="member_id" property="memberId"/>
     <result column="flow_op" property="flowOp"/>
     <result column="flow_type" property="flowType"/>
     <result column="item_code" property="itemCode"/>
     <result column="item_name" property="itemName"/>
     <result column="flow_price" property="flowPrice"/>
     <result column="status" property="status"/>
     <result column="del" property="del"/>
     <result column="remark" property="remark"/>
     <result column="CREATE_TIME" property="createTime"/>
     <result column="CREATE_USER" property="createUser"/>
     <result column="UPDATE_TIME" property="updateTime"/>
     <result column="UPDATE_USER" property="updateUser"/>
     </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         cashflow_id as cashflowId,
         member_id as memberId,
         flow_op as flowOp,
         flow_type as flowType,
         item_code as itemCode,
         item_name as itemName,
         flow_price as flowPrice,
         status as status,
         del as del,
         remark as remark,
         CREATE_TIME as createTime,
         CREATE_USER as createUser,
         UPDATE_TIME as updateTime,
        UPDATE_USER as updateUser
    </sql>

    <select id="selectByCondition" resultType="map">
       select
        <include refid="Base_Column_List"/>
       from cashflow tb where del='N'
        <if test="condition!=null and condition!=''">
          and name like concat('%',#{condition},'%')
        </if>
        order by tb.create_time desc
    </select>

</mapper>